*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
  padding: 20px;;
}

nav.navbar { 
  display: flex;
  padding: 20px;
  background: #4682B4; 
}

nav.navbar .navbar-user{
  margin-left: 10px;
  color: white;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

#home-btn {
  color: black;
  text-decoration: none;
}


/* -------------------PAGINA HOME -------------------- */

.home{
  background-image: url(https://wallpaperset.com/w/full/7/c/c/392452.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 91vh;
  overflow: hidden;
}

.home-titles{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.home h1 {
  /* font-family: Rockwell; */
  font-style: italic;
  margin:25px 0;
  font-size: 30px;
}
.home h2{
  font-style: italic;
  font-size: 15px;
}
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.card {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: 150px;
  height: 150px;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}


/* --------------------------LOGIN PAGE-------------------------------- */

h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.login {
  margin:0 auto;
  padding: 10px 0;
  max-width:500px;
  background-image: url(https://wallpaperset.com/w/full/7/c/c/392452.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 91vh;
  overflow: hidden;

}
.login-header {
  color:black;
  text-align:center;
  font-size: 150%;
}
/* .login-header h1 {
   text-shadow: 0px 5px 15px #000; */

.login-button {
  margin: 10px;
  padding:5px;
  border: 10px;
  width: 100px; 
  border-radius: 3rem; 
}
.login-form h3 {
  text-align: center;
  color:black;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
	padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.login input[type="text"],
.login input[type="password"] {
  max-width:400px;
	width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:3rem;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.login-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}

.sign-up{
  color:#f2f2f2;
  margin:10px 0;
  cursor:pointer;
  text-decoration:underline;
}
.no-access {
  color:#E86850;
  margin:10px 0px ;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}



/*--------------------------------offers------------------------*/


ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.band {
    height: auto;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 50px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: none;
    border-bottom: none;
}

.band h1 {
    margin-top: 10%;
    font-size: 3rem;
    color: #000000;
    font-weight: 100;
    letter-spacing: 0.25px;
}

.band p {
    letter-spacing: 0.5px;
    color: #484848;
    font-size: 1.1rem;
    padding-top: 0.75em;
}

.band101 {
    color: purple;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
}

.band101:hover {
    text-decoration: underline;
    color: purple;
}


/*Cards*/

.cardsoffers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 1%;
    justify-content: center;
   
}

.cardsoffers a:hover {
    color: yellow;
    text-decoration: none;
}

.cardsoffers-item {
    display: flex;
    padding: 5px;
    
}

.cardContainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 30px;
}

.cardoffer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 350px;
}



.cardoffer-image::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}


.cardoffer-content {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.cardoffer-title {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 1rem;
}

.cardoffer-text {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    color: #484848;
}

.cardsoffer-button {
    background-color: white;
    border: 2px solid #4682B4;
    color: #4682B4;
    padding: 3px;
    text-align: center;
    margin: 5px;
}

.button-block {
    display: block;
    width: auto;
}


/*Cards*/

/* ------------------------fin offers------------------- */

@media  (min-width: 750px) {
  /* navbar */
  nav.navbar { 
    display: flex;
    padding: 10px;
    background: #4682B4; 
  }
  
  nav.navbar .navbar-user{
    margin-left: 50px;
    color: white;
  }
  
  button.navbar-button {
    padding: 5px 20px;
    width: 100px;
    border-radius: 3px;
    margin: 0 10px;
  }
  
  #home-btn {
    color: black;
    text-decoration: none;
    size: 30px;
  }
  
  
  /* home */
  .home{
    background-image: url(https://wallpaperset.com/w/full/7/c/c/392452.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
    overflow: hidden;
  }
  
  .home-titles{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .home h1{
    /* font-family: Rockwell; */
    font-style: italic;
    margin:40px 0;
    font-size: 65px;
  }
  .home h2{
    font-style: italic;
    font-size: 40px;
  }
  
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px;
  }
  
  .card {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: 200px;
    height: 200px;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  /* offers */

.cardsoffers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 1%;
  justify-content: space-evenly;
  
 
}

.cardsoffers a:hover {
  color: yellow;
  text-decoration: none;
}

.cardsoffers-item {
  display: flex;
  padding: 5px;
  
}

.cardoffer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.25);
  width: 250px;
  height: 350px;
}

.cardoffer-image::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}


.cardoffer-content {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.cardoffer-title {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
  margin-top: 15px;
}

.cardoffer-text {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #484848;
}

.cardsoffer-button {
  background-color: white;
  border: 2px solid #4682B4;
  color: #4682B4;
  padding: 3px;
  text-align: center;
  margin: 5px;
}

.button-block {
  display: block;
  width: auto;
}

}
@media (min-width: 1020px) {
   /* navbar */
   nav.navbar { 
    display: flex;
    padding: 30px;
    background: #4682B4; 
  }
  
  nav.navbar .navbar-user{
    margin-left: 90px;
    color: white;
  }
  
  button.navbar-button {
    padding: 5px 20px;
    width: 100px;
    border-radius: 3px;
    margin: 0 10px;
  }
  
  #home-btn {
    color: black;
    text-decoration: none;
    size: 50px;
  }
  
  
  /* home */
  .home{
    background-image: url(https://wallpaperset.com/w/full/7/c/c/392452.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90.7vh;
    overflow: hidden;
  }
  
  .home-titles{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .home h1{
    /* font-family: Rockwell; */
    font-style: italic;
    margin:30px 0;
    font-size: 80px;
  }
  .home h2{
    font-style: italic;
    font-size: 50px;
  }
  
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: 300px;
    height: 300px;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }

  /* offers */
  .cardoffer {
    display: flex;
  
    margin-top: 5%;
    margin-bottom: 1%;
    justify-content: center;
}

}




